<div class="d-flex">
  <%= render Elements::HeadingComponent.new(level: :h2, text: 'DLSS Youtube Channels', classes: 'mb-4 w-100 text-nowrap') %>
  <%= render Elements::ButtonLinkComponent.new(link: new_channel_path, label: 'Add a channel', variant: :primary, classes: 'ml-auto text-nowrap h-50') if allowed_to?(:new?, Channel) %>
</div>

<% @channels.each do |channel| %>
  <div class="mb-5">
    <%= render Channels::HeaderLinkComponent.new(channel:) %>
    <%= render Dashboard::Show::VideosListComponent.new(channel:) %>
    <%= render Dashboard::Show::ReportsListComponent.new(channel:) %>
  </div>
<% end %>
