<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || 'Alor' %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, 'data-turbo-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/sul-dlss/component-library@v2025-02-04/styles/sul.css">
    <%= stylesheet_link_tag 'component_library_overrides' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render Elements::SkipLinksComponent.new %>
    <%= render Structure::HeaderComponent.new %>
    <header>
      <div class="breadcrumbs">
        <nav id="breadcrumbs" aria-label="breadcrumb" class="container">
          <%= yield :breadcrumbs %>
        </nav>
      </div>
    </header>
    <main id="main-container">
      <% if content_for?(:fluid_body) %>
        <div class="fluid-container">
          <%= yield :fluid_body %>
        </div>
      <% end %>

      <div class="container">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
